body {
    margin: 0;
    padding: 5px;
    text-align: center; /* !!! */
}

.centered {
	display: block;
    margin: 0 auto;
    height: 800px;
    text-align: center;
    width: 800px;
    padding: 15px;
    padding-right: 5px;
}